1. Импортировать необходимые библиотеки для работы с данными (pandas). --- **0.1**

In [115]:
import pandas as pd
import numpy as np

2. Импортировать датасет из файла 'restaurants.csv' и присвоить его переменной (например, переменной df). --- **0.1**

In [116]:
df = pd.read_csv('restaurants.csv', sep = ',')

3. Вывести первые 10 строк датафрейма. Изучить структуру таблицы. --- **0.1** Затем вывести типы колонок датафрейма. --- **0.2**

In [117]:
df.head(10)

,vendor_id,chain_id,city_name,specialisation,successful_orders,fail_orders,reorders
0,28957,20633,Архангельск,Супы,0.0,2.0,0.0
1,37381,27399,Архангельск,Пироги,0.0,0.0,0.0
2,28703,20431,Архангельск,Суши,111.0,3.0,0.0
3,37382,27399,Архангельск,Пироги,1.0,0.0,0.0
4,36877,27151,Архангельск,Бургеры,22.0,2.0,0.0
5,37650,27579,Архангельск,Суши,3.0,0.0,0.0
6,37127,27250,Астрахань,Суши,55.0,5.0,6.0
7,28476,20266,Астрахань,Суши,342.0,13.0,14.0
8,28478,20266,Астрахань,Суши,194.0,1.0,7.0
9,34127,25077,Астрахань,Пицца,136.0,4.0,1.0

In [118]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784 entries, 0 to 783
Data columns (total 7 columns):
vendor_id            784 non-null int64
chain_id             784 non-null int64
city_name            784 non-null object
specialisation       784 non-null object
successful_orders    784 non-null float64
fail_orders          784 non-null float64
reorders             784 non-null float64
dtypes: float64(3), int64(2), object(2)
memory usage: 43.0+ KB
None

vendor_id - уникальный идентификатор ресторана

chain_id - уникальный идентификатор сети, в которую входит ресторан

successful_orders - кол-во успешных заказов

fail_orders - кол-во неуспешных заказов

reorders - перезаказы

4. Сколько наблюдений в датафрейме (воспользоваться методом shape)? --- **0.2**

In [119]:
df.shape[0]

784

5. Сколько колонок в датафрейме?  --- **0.2** Вывести их имена. --- **0.2** Удалить колонку с названием "chain_id" (соледующие задания должны быть выполнены без этой колонки). --- **0.4**

In [120]:
df.shape[1]

7

In [121]:
df.columns

Index(['vendor_id', 'chain_id', 'city_name', 'specialisation',
       'successful_orders', 'fail_orders', 'reorders'],
      dtype='object')

In [122]:
df.drop(['chain_id'], axis='columns',inplace =True)

6. Сколько уникальных городов в датафрейме? --- **0.3**

In [123]:
df.describe(include=['object']).loc[['unique'], 'city_name']

unique    63
Name: city_name, dtype: object

7. Кол-во ресторанов каждой специализации? --- **0.5**

In [124]:
df.specialisation.value_counts()

Суши                   329
Пицца                  179
Бургеры                 69
Шашлыки                 37
Рыба                    30
Японская                21
Пироги                  17
Русская                 15
Мясо                    14
Китайская               10
Шаурма                   8
Супы                     8
Сэндвичи                 6
Десерты                  5
Выпечка                  5
Грузинская               5
Индийская                5
Паста и ризотто          4
Фастфуд                  4
Итальянская              3
Узбекская                2
Хот-доги                 2
Паназиатская             2
Вегетарианское меню      1
Корейская                1
Мексиканская             1
Гирос                    1
Name: specialisation, dtype: int64

8. Получить среднее и стандартное отклонение по всему датафрейму только по колонкам successful_orders и fail_orders. --- **0.5**

In [125]:
df[['successful_orders', 'fail_orders']].agg([np.mean, np.std])

      successful_orders  fail_orders
mean         115.344388     2.576531
std          176.792621     5.361445

9. Вывести 10 городов с самым маленьким количеством ресторанов, а также кол-во ресторанов в них. --- **0.6**

In [126]:
df.city_name.value_counts().nsmallest(10)

Ханты-Мансийск    2
Вологда           3
Йошкар-Ола        3
Стерлитамак       3
Егорьевск         3
Новокузнецк       5
Архангельск       6
Петрозаводск      7
Магнитогорск      8
Череповец         9
Name: city_name, dtype: int64

10. Вывести весь датафрейм только по тем ресторанам, у которых количество неуспешных заказов (fail_orders) было больше 20. --- **0.5**

In [127]:
filters = (df.fail_orders > 20)
df[filters]

,vendor_id,city_name,specialisation,successful_orders,fail_orders,reorders
95,24121,Волгоград,Пицца,445.0,24.0,25.0
145,33976,Екатеринбург,Суши,327.0,46.0,65.0
267,6520,Краснодар,Суши,1300.0,70.0,65.0
372,22211,Нижний Новгород,Суши,79.0,29.0,20.0
420,24126,Орел,Пицца,482.0,33.0,27.0
422,16157,Орел,Бургеры,506.0,25.0,31.0
511,20935,Самара,Пицца,1298.0,63.0,44.0
516,12235,Самара,Суши,779.0,32.0,51.0
543,5469,Саратов,Суши,617.0,28.0,26.0
656,25369,Тула,Пицца,205.0,38.0,18.0

11. Вывести весь датафрейм только по тем ресторанам, у которых количество неуспешных заказов (fail_orders) было больше 20 и успешных заказов (successful_orders) меньше 500, рестораны только из города Тула. --- **0.7**

In [128]:
filters = (df.fail_orders > 20) & (df.successful_orders < 500) & (df.city_name == 'Тула')
df[filters]

,vendor_id,city_name,specialisation,successful_orders,fail_orders,reorders
656,25369,Тула,Пицца,205.0,38.0,18.0

12. Среднее кол-во успешных заказов в каждой из специализации. --- **0.6**

In [129]:
df.groupby(by = ['specialisation'])['successful_orders'].agg([np.mean])

                           mean
specialisation
Бургеры               70.478261
Вегетарианское меню   12.000000
Выпечка               12.800000
Гирос                682.000000
Грузинская            38.200000
Десерты                8.200000
Индийская             15.200000
Итальянская           44.666667
Китайская             89.100000
Корейская              9.000000
Мексиканская          33.000000
Мясо                  49.428571
Паназиатская          19.500000
Паста и ризотто       39.750000
Пироги                28.117647
Пицца                144.446927
Русская               81.133333
Рыба                  95.766667
Супы                 140.750000
Суши                 134.680851
Сэндвичи             118.666667
Узбекская             15.500000
Фастфуд               22.250000
Хот-доги               4.500000
Шаурма                23.000000
Шашлыки               55.594595
Японская             171.523810

13. Рестораны какой специализации имеют самую высокую долю неуспешных заказов? Также посчитать эту долю (все заказы по конкретному ресторану складываются из успешных, неуспешных заказов и перезаказов). --- **2.0**

In [149]:
df['dolya'] = df['fail_orders'] / (df['successful_orders'] + df['fail_orders']  + df['reorders'])
df.groupby(by = ['specialisation'])['dolya'].max().iloc[0]

0.5

14. Для каждой специализации рассчитать минимальное и максимальное кол-во успешных заказов. --- **0.6**

In [76]:
df.groupby(by = ['specialisation'])['successful_orders'].agg([np.min, np.max])

                      amin    amax
specialisation
Бургеры                0.0   506.0
Вегетарианское меню   12.0    12.0
Выпечка                3.0    24.0
Гирос                682.0   682.0
Грузинская             3.0   131.0
Десерты                0.0    22.0
Индийская              0.0    75.0
Итальянская            3.0   112.0
Китайская              6.0   355.0
Корейская              9.0     9.0
Мексиканская          33.0    33.0
Мясо                   1.0   179.0
Паназиатская           1.0    38.0
Паста и ризотто       11.0    66.0
Пироги                 0.0   185.0
Пицца                  0.0  1644.0
Русская                0.0   919.0
Рыба                   0.0   315.0
Супы                   0.0   480.0
Суши                   0.0  1401.0
Сэндвичи               0.0   241.0
Узбекская              6.0    25.0
Фастфуд                2.0    66.0
Хот-доги               4.0     5.0
Шаурма                 0.0    93.0
Шашлыки                0.0   323.0
Японская               4.0   461.0

15. Рассчитать среднее кол-во успешных заказов по каждой специализации отдельно для городов Белгород и Уфа. --- **0.8**

In [78]:
filters =  (df.city_name == 'Белгород') | (df.city_name == 'Уфа') 
df[filters].groupby(by = ['city_name'])['successful_orders'].agg([np.mean])

                 mean
city_name
Белгород   203.500000
Уфа        236.714286

16. Импортировать таблицу "restaurant_scores.csv". В исходную таблицу добавить новый столбец "model_score" из таблицы "restaurant_scores", соединив таблицы по restaurant_scores.vendor_id = model_score.id. Вывести первые 5 строк получившейся таблицы. --- **1.0**

In [88]:
df2 = pd.read_csv('restaurant_scores.csv', sep = ',')
df_new = pd.merge(df, df2, left_on='vendor_id', right_on='id')
df_new.head(5)

,vendor_id,city_name,specialisation,successful_orders,fail_orders,reorders,id,model_score
0,28957,Архангельск,Супы,0.0,2.0,0.0,28957,0.421871
1,37381,Архангельск,Пироги,0.0,0.0,0.0,37381,0.386503
2,28703,Архангельск,Суши,111.0,3.0,0.0,28703,0.664808
3,37382,Архангельск,Пироги,1.0,0.0,0.0,37382,0.838883
4,36877,Архангельск,Бургеры,22.0,2.0,0.0,36877,0.176469

18. Итоговую таблицу сохранить на жестком диске в формате 'csv'. --- **0.4**

In [114]:
df_new.to_csv('kek.csv')